<!-- Footer -->
<footer>

  <aside class="links">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Sangha Resources</h4>
          <ul>
            <li><a href="https://plumvillage.org/mindfulness-practice/the-5-mindfulness-trainings/" title="">5 Mindfulness Trainings</a></li>
            <li><a href="https://plumvillage.org/mindfulness-practice/the-14-mindfulness-trainings/" title="">14 Mindfulness Trainings</a></li>
            <li><a href="https://plumvillage.org/news/new-contemplations-before-eating/" title="">Contemplations before eating</a></li>
            <li><a href="https://plumvillage.org/mindfulness-practice/touching-the-earth/" title="">Touching the Earth</a></li>
            <li><a href="https://plumvillage.org/mindfulness-practice/walking-meditation/" title="">Walking Meditation</a></li>
            <li><a href="https://plumvillage.org/mindfulness-practice/mindful-apps/" title="">Mindful Apps</a></li>
          </ul>
        </div>
        <div class="col-md-4">
        	<h4>Helpful Links</h4>
        	<ul>
            <li><a href="http://plumvillage.org/" target="_blank">Plum Village</a></li>
            <li><a href="http://parallax.org/" target="_blank">Parallax Press</a></li>
            <li><a href="http://www.mindfulnessbell.org/" target="_blank">The Mindfulness Bell</a></li>
            <li><a href="http://deerparkmonastery.org/" target="_blank">Deer Park Monastery</a></li>
            <li><a href="http://bluecliffmonastery.org/" target="_blank">Blue Cliff Monastery</a></li>
            <li><a href="http://magnoliagrovemonastery.org/" target="_blank">Magnolia Grove Monastery</a></li>
            <li><a href="http://www.thichnhathanhfoundation.org/" target="_blank">Thich Nhat Hanh Foundation</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          	<div id="footer-logo"></div>
        </div>
      </div>
    </div>
      <!-- /.container -->
  </aside>
  <!-- /.banner -->




    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="page-scroll" href="https://mindful.community">About Us</a>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a class="page-scroll" href="https://events.mindful.community">Events</a>
            </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; MROIS 2019. All Rights Reserved</p>
    </div>


</footer>
